.header2 {
    width: 100%;


    overflow: hidden;
    background:transparent;
    z-index: -989;
    top:0px;
}
.header2 .particle2 {
    opacity: 0;
    position: absolute;
    border-radius: 500px;
    background: transparent;
    border: 1.5px solid #fff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    /*-webkit-perspective: 1000;*/
}
