.greyText{
    font-size: 13px;
    color: #bbb;

}
.text-center{
    text-align: center;
}
#space2{
    margin-bottom: 80px;
}
.dropdown-menu{
    height: 400px;
}
.drop-heading{
    letter-spacing: 1px;
}
.login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 420px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 2px 22px 2px 2px rgba(0,0,0.33,0.33);
    border-radius: 14px;
}
.lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
}
.lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.lb-header .active{
    color: #27aea2;
    font-size: 18px;
}
.social-login{
    position:absolute;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
    margin-left: 22px;
}
.social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1.5px solid rgba(0,0,0,0.05);
    padding: 10px 12px;
    border-radius: 1px;
    font-size: 15px;
    margin: 0 3%;
    text-align:center;
}
.social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}
.social-login a:first-child{
    background-color: #49639F;
}
.social-login a:last-child{
    background-color: #DF4A32;
}
.email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
}
.u-form-group{
    width:100%;
    margin-bottom: 10px;
}
#space{
    width:100%;
    margin-bottom: 60px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
    width: calc(100% - 22px);
    height:36px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:15px;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
}
.u-form-group input:focus{
    border-color: #358efb;
}
.u-form-group button{
    width:93%;
    background-color: #27aea2;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    border-radius: 2px;
    text-transform: uppercase;
}
.forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 12px;
}

/*Carousel */
.sh-subheading{
    font-weight: 300;
}
.m-subheading{
    font-size: 45px;
    margin:0px ;
    font-weight: bold;
    letter-spacing: -3px;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.text-center {
    text-align: center;
}
#owl-demo .item{
    margin:2px;
}
#owl-demo .item. img{
    display: block;
}
.glyphicon{
    background-image: none;
      color: #232323;
      border: none; 
      font-size: 70px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 80px;
  top: 155px;
  background: transparent;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 80px;
  top: 155px;
  background: transparent;
}
.s1{
    background-image:url('img/svg-sh/top1.svg');
    background-attachment: fixed;
}
.sh-sectionblue{

    /*background : -moz-linear-gradient(61.57% 194.78% 104.22deg,rgba(0, 112, 106, 1) 0%,rgba(0, 167, 157, 1) 100%);
  background : -webkit-linear-gradient(104.22deg, rgba(0, 112, 106, 1) 0%, rgba(0, 167, 157, 1) 100%);
  background : -webkit-gradient(linear,61.57% 194.78% ,54.56% 107.08% ,color-stop(0,rgba(0, 112, 106, 1) ),color-stop(1,rgba(0, 167, 157, 1) ));
  background : -o-linear-gradient(104.22deg, rgba(0, 112, 106, 1) 0%, rgba(0, 167, 157, 1) 100%);
  background : -ms-linear-gradient(104.22deg, rgba(0, 112, 106, 1) 0%, rgba(0, 167, 157, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00706A', endColorstr='#00A79D' ,GradientType=0)";*/
   background : linear-gradient(91.45deg, rgba(9, 104, 119, 1) 0%, rgba(0, 171, 161, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#096877',endColorstr='#00ABA1' , GradientType=1);

}
.Footerlogo{
        display: block;
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -76px;
    z-index: 9;
    transform: translateX(-50%);

}
.contact{
    font-size: 18px;
    font-weight: 500;
    font-color: #818181;
}
 .a1{
    font-size: 50px;
    margin-top: 35px;
}
.para{
    opacity:0.7; 
    font-size: 18px;
    font-weight: 400;
    font-color: #818181;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}
.a2{
    font-size: 70px;
    margin-top: 35px;
    text-align: center;
}
.contact-sub{
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    opacity: 0.7;
}
.contact-details{
        margin-bottom: 16px !important;
        font-size: 18px !important;
        margin-top: 40px !important;
}
.half{
    float: left;
}
.row-padding .row-padding>half{
    padding: 0 8px;
}
.border{
        border: 1px solid #ccc!important;
        border-radius: 1px;
        margin-bottom: 8px;
}
.input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #808080;
    width: 100%;
    
}form {
    display: block;
    margin-top: 0em;
}
.blue1, .hover-blue1:hover {
    color: #fff!important;
    background-color: #27aea2!important;
}
.padding-medium, .padding, .form {
    padding: 8px 16px!important;
}
.section {
    margin-top: 10px!important;
    margin-bottom: 16px!important;
}
.right {
    float: right!important;
}
.btn1{
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    user-select: none;
    width: 100%;
    border:none;
    border-radius: 1px
}
.round-large {
    border-radius: 16px!important;
    width: 90%;
    height: 320px;
    position: relative;
    overflow: hidden;
}
.space{
    margin-top: 50px;
    margin-bottom: 50px;
}