@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800');
*{
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
.m-heading{
    font-weight: bold;
    letter-spacing: -5px;
    margin:0px ;
}
.m-subheading{
    margin:0px ;
}
a{
    text-decoration: none;
}
a:hover,a:focus{
    text-decoration: none;
}
h3{
    color: #000;
}
.m-head{
    border-top:8px solid #27aea2;
    background-color: transparent;
    height: 500px;
    padding-top: 70px;

}.s-head{
    /*border-top:8px solid #27aea2;*/
    background-color: transparent;
    text-align: right;
    padding-top: 20px;
}
.ztp{
    z-index: 999999;
}
.bgrey{
    background-color: #f5f5f5;
}
.m-effect1{
    overflow: hidden;
    background-color: transparent;
    opacity:0.50;
    position:fixed;
    height: 1000px;
    width: 100%;
    min-width: 500px;
    top:00px;
    z-index: 0;
}
.subheading{
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;

}
.wrapper{
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: hidden;
    width: 100%;
}
.sign{
    padding: 10px;
    opacity: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    animation: all;
    transition-duration: 500ms;
}
.sign:hover,.sign:focus,.sign:active,.sign:visited{
    opacity:1;

}
.p50{
    padding: 50px;

}
.sign-menu{
    width: 300px;
    padding-right:40px;
    padding-left:40px;
}
.rup{
    position: relative;
    top:-50px;
}
.w100{
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}
.sectionblue{
    margin: 0px;
    padding: 0px;
    background : -moz-linear-gradient(-5.27% 50% 0deg,rgba(9, 103, 119, 1) 0%,rgba(0, 172, 162, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(9, 103, 119, 1) 0%, rgba(0, 172, 162, 1) 90%);
    /*background : -webkit-gradient(linear,-5.27% 50% ,91.35% 50% ,color-stop(0,rgba(9, 103, 119, 1) ),color-stop(1,rgba(0, 172, 162, 1) ));*/
    /*background : -o-linear-gradient(0deg, rgba(9, 103, 119, 1) 0%, rgba(0, 172, 162, 1) 100%);*/
    /*background : -ms-linear-gradient(0deg, rgba(9, 103, 119, 1) 0%, rgba(0, 172, 162, 1) 100%);*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#096777', endColorstr='#00ACA2' ,GradientType=0)";*/
    /*background : linear-gradient(90deg, rgba(9, 103, 119, 1) 0%, rgba(0, 172, 162, 1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#096777',endColorstr='#00ACA2' , GradientType=1);*/

}
.cwhite{
    color: white !important;
}
#demo{
    position: absolute;
    top:50px;
    width: 2000px;
    z-index: -2929;
    opacity:0.5;
}